@use "/src/styles/partial/variables" as *;
@use "/src/styles/partial/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

// General section backgrounds

.content-section {
  background-color: rgb(28, 28, 28);
}

.icon-section {
  background-color: $primary-blue-color;
}

.first-footer {
  background-image: url(/public/img/dc-logo-bg.png),
    url(/public/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position-x: 80%;
  background-position-y: center;
}

.second-footer {
  background-color: hsl(0deg 0% 18.82%);
}
